<h1 class="text-center">LogIn Usuarios</h1>

<form method="post">
    <label>Usuario: </label>
    <input type="text" name="usuario" class="form-control" /><br />
    <label>Password: </label>
    <input type="password" name="password" class="form-control" /> <br />
    <button type="submit">LogIn</button>
</form>